




#s {
    margin-top: 8px;
    margin-bottom: 5px;
    margin-right: 25px;
    
    /*outline: 0 !important;*/
    box-shadow: none !important;
    border-color: #bbb !important;
    border-radius: 20px;
    
    position: relative;
    right: -32px;
}

body {
    background-color: #eee;
}

.navbar.navbar-default {
    background: #00a;
    border-bottom: 1px solid #ddd;
    opacity: 0.75;
    margin-top: -2px;
    
    -webkit-transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -ms-transition: opacity 0.25s ease-in-out;
  -o-transition: opacity 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out;
}

.navbar.navbar-default,
.navbar.navbar-default * {
    color: white;
    border-color: #003;
    background-color: #006;
}

.navbar.navbar-default:hover {
    opacity: 1;
}

.navbar .progress {
    position: fixed;
    top: 0px; left: 0px; right: 0px; height: 2px;
    background-color: #006;
    z-index: 9999;
}

.navbar .progress-bar {
    background-color: red;
}

/** Mobile **/

#toc {
    list-style: none;
    /*opacity: 0.7;*/
    
  /*  -webkit-transition: opacity 0.25s ease-in-out;*/
  /*-moz-transition: opacity 0.25s ease-in-out;*/
  /*-ms-transition: opacity 0.25s ease-in-out;*/
  /*-o-transition: opacity 0.25s ease-in-out;*/
  /*transition: opacity 0.25s ease-in-out;*/
}
/*#toc:hover {*/
/*    opacity: 1;*/
/*}*/

#toc li {
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 4px #ddd;
    margin-bottom: 5px;
}

#toc li a {
    padding: 10px;
    font-size: 14px;
    display: block;
    color: #666;
    text-decoration: none;
    position: relative;
    padding-left: 74px;
}

#toc li a:hover {
    color: black;
}

#toc .img {
    position: absolute;
    left: 0px; top: 0px; width: 64px; height: 100%;
    display: block;
    float: left;
    background-size: cover;
    background-position: center;
    background-color: #eee;
}

#feeds .label {
    margin-right: 5px;
    display: inline-block;
    float: left;
    margin-top: 2px;
    font-size: 14px;
}

#feeds select {
    border-radius: 0px;
    border: 0px;
    background-color: transparent;
    outline: none;
    -webkit-appearance:none;
    box-shadow: none;
}

#feeds select:hover {
    outline:0px !important;
    -webkit-appearance:none;
}

#articles {
    padding-left: 5px;
    padding-right: 5px;
}

h1 a,
article h2 a {
    color: black;
    text-decoration: none;
}

article {
    margin-bottom: 40px;
    padding-top: 20px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #ddd;
    box-shadow: 0px 1px 4px #ddd;
    cursor: pointer;
}

article .details {
    position: relative;
    top: -45px;
    right: -15px;
    margin-bottom: -100%;
}

article .article-card {
    background-color: #fafafa;
    padding: 15px 15px 0 15px;
    margin-top: -20px;
}

article h2 a:hover,
article h2 a {
    text-decoration: none;
    color: black;
}

article .short {
    font-size: 15px;
    color: #555;
    
    margin-bottom: 1em;
    text-align: justify;
}

article .entry {
    
    font-size: 16px;
    
    margin-top: 25px;
    
    -webkit-column-orphans: 5; /* Chrome, Safari, Opera */
    -moz-column-orphans: 5; /* Firefox */
    orphans: 5;
    
    padding-bottom: 15px;
}

article .entry iframe,
article .entry img {
    max-width: 100%;
}

article p {
    text-align: justify;
}

article .picture {
    text-align: center;
    height: 250px;
    background-size: cover;
    background-position: center;
    /*margin-bottom: -1px;*/
}
article .picture img {
    width: 100%;
    /*border-top: 1px solid #ddd;*/
    /*border-bottom: 1px solid #ddd;*/
    /*padding: 2px 2px 0px 2px;*/
}

article figure,
article figcaption {
    display: block;
    text-align: center;
}

article blockquote * {
    text-align: left;
}
article blockquote span:last-child {
    color: #666;
    font-size: 0.8em;
    font-style: italic;
}

article h2 {
    font-size: 22px;
    /*border-bottom: 1px solid #ddd;*/
    margin-top: 0px;
}

article .entry h2 {
    margin-top: 30px;
}

article .entry h3 {
    font-size: 20px;
}

article .entry h4 {
    font-size: 18px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    article .entry {
        
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    }
    
    article .picture img {
        /*width: 75%;*/
        display: block;
        margin: 15px auto -1px auto;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    article .entry {
        
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    article .entry {
        
        -webkit-column-count: 3; /* Chrome, Safari, Opera */
        -moz-column-count: 3; /* Firefox */
        column-count: 3;
        
        -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
        -moz-column-gap: 40px; /* Firefox */
        column-gap: 40px;
    }
}

body.black {
    color: #eee;
    background-color: black;
}

body.black h1 a,
body.black article h2 a {
    color: #eee;
}