
<div class="container">
    

    <!--h1><a href="{{ feed.link }}">{{ feed.title }}</a></h1>
    
    <p>{{ feed.description }}</p-->
    
    <div class="row">
    
        <ul class="col-md-3 hidden-xs hidden-sm">
            <li ng-repeat="(i,entry) in feed.entries">
                <a href="#/{{ id }}#entry-{{ i }}">{{ entry.title }}</a>
            </li>
        </ul>
        
        <div id="feeds" class="col-md-9">
            
            <form class="form-inline">
              <div class="form-group">
                <select ng-model="id" ng-change="change()" class="form-control">
                    <option ng-repeat="(i,feed) in feeds" value="{{ i }}" ng-selected="id==i">{{ feed.title }}</option>
                </select>
              </div>
              <button type="sync" ng-click="sync()" class="btn btn-default">Sync</button>
            </form>
            
            
        </div>
        
        <div id="articles" class="col-md-9">
            <article id="entry-{{ i }}" itemscope itemtype="http://schema.org/Article" ng-click="showDetails = true" ng-repeat="(i,entry) in feed.entries" class="col-xs-12 article">
                
                <div class="details pull-right">
                    <small>
                        <i ng-if="entry.html" class="fa fa-check-circle"></i>&nbsp;
                        {{ entry.date | date:'longDate' }}&nbsp;
                        <span ng-repeat="(j,category) in entry.categories" class="label label-default">{{ category }}</span>
                    </small>
                </div>
                
                <h2><a href="{{ entry.link }}">{{ entry.title }}</a></h2>
                
                <div ng-bind-html="entry.content | filterfeed" class="short"></div>
                
                <div ng-if="entry.img" class="picture">
                    <img src="{{ entry.img }}" class="img-responsive center-block" />
                </div>
                
                <div ng-if="entry.html" ng-bind-html="entry.html" ng-show="showDetails" class="entry"></div>
                
                
            </article>
        </div>
    </div>
</div>