

<div class="container" style="padding-top: 85px;">
    
    
    
    
    

    <!--h1><a href="{{ feed.link }}">{{ feed.title }}</a></h1>
    
    <p>{{ feed.description }}</p-->
    
    <div class="row">
    
        
        
        
        <div id="articles" class="col-md-8">
            <article id="entry-{{ i }}" ng-if="!entry.filtered" itemscope itemtype="http://schema.org/Article" ng-click="showDetails = !showDetails" ng-repeat="(i,entry) in feed.entries" class="col-xs-12 article">
                
                <div class="details pull-right">
                    <small>
                        <i ng-if="entry.html" class="fa fa-check-circle"></i>&nbsp;
                        {{ entry.date | date:'longDate' }}&nbsp;
                        <a href="{{ feed.feedUrl }}" target="_blank">{{ feed.feedUrl | feedSource }}</a>&nbsp;
                        <span ng-repeat="(j,category) in entry.categories" class="label label-default">{{ category }}</span>
                    </small>
                </div>
                
                <div class="article-card row">
                    <h2><a href="{{ entry.link }}">{{ entry.title }}</a></h2>
                    
                    <div ng-bind-html="entry.content | filterfeed" class="short"></div>
                    
                    <div ng-if="entry.img" class="picture row" style="background-image:url('{{ entry.img }}')">
                        <!--<img src="{{ entry.img }}" class="img-responsive center-block" />-->
                    </div>
                </div>
                
                <div ng-if="entry.html" ng-bind-html="entry.html" ng-show="showDetails" class="entry"></div>
                
                
            </article>
        </div>
        
        
        <ul id="toc" class="col-md-4 hidden-xs hidden-sm">
            <li ng-if="!entry.filtered" ng-repeat="(i,entry) in feed.entries">
                <a href="#/{{ id }}#entry-{{ i }}">
                    <div class="img" style="background-image: url({{ entry.img }});">&nbsp;</div>
                    {{ entry.title }}
                </a>
            </li>
        </ul>
        
    </div>
</div>





<!--<ng-include src="'partials/header.html'"></ng-include>-->

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ syncing*100 }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ syncing*100 }}%; transition: width .1s ease;"></div>
    </div>
    
    <div class="container">
        
        
        <div class="navbar-collapse" style="position: relative">
            
            <search></search>
                
            <div class="btn-group" role="group" style="margin-top:7px;">
                <button ng-if="!syncing" ng-click="sync()" class="btn btn-default"><i class="fa fa-check-circle"></i></button>
                <button ng-if="syncing" class="btn btn-default" disabled="disabled"><i class="fa fa-refresh fa-spin"></i></button>
                <a href="#/search/" class="btn btn-default"><i class="fa fa-rss"></i></a>
                <a href="#/feeds" class="btn btn-default"><i class="fa fa-bars"></i></a>
                
                <div class="btn-group open">
                    <button type="button" class="btn btn-default dropdown-toggle feed-selection" data-toggle="dropdown" aria-expanded="false" ng-click="selectFeeds = !selectFeeds">
                        {{ feed.title }} <span class="fa fa-caret-down"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" ng-show="selectFeeds">
                        <li ng-repeat="(i,feed) in feeds" ng-if="id!=i"><a href="#/{{ i }}" ng-bind-html="feed.title"></a></li>
                    </ul>
                </div>
            </div>
            
                
        </div>
    </div>
</div>